<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net472" />
  <package id="CliWrap" version="2.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="taglib" version="2.1.0.0" targetFramework="net472" />
  <package id="YoutubeExplode" version="4.5.3" targetFramework="net472" />
  <package id="YoutubeExplode.Converter" version="1.0.1" targetFramework="net472" />
</packages>